.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}
.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.season-display.winter i{
  color: rgb(93, 93, 243);
}
.season-display.summer i{
  color: rgb(255, 102, 0);
}
.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.summer {
  background-color: rgb(240, 178, 120);
}

.winter {
  background-color: rgb(155, 155, 187);
}
